body {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}
.content-grid,
.full-width {
  display: grid;
  grid-template-columns:
    [full-width-start] var(--content-margin) [content-start]
    1fr
    [content-end] var(--content-margin) [full-width-end];
}

.content-grid > *,
.full-width > * {
  grid-column: content;
}

.content-grid > .full-width,
.full-width > .full-width {
  grid-column: full-width;
}

.content-grid > .breakout--right,
.full-width > .breakout--right {
  grid-column: content-start / full-width-end;
}

.content-grid > .breakout--left,
.full-width > .breakout--left {
  grid-column: full-width-start / content-end;
}

.full-width-stretch {
  position: relative;
  transform: translateX(calc(-1 * var(--content-margin)));
  width: calc(100% + 2 * var(--content-margin));
}

.flow-content > * + * {
  margin-top: var(--flow-spacer, var(--spacer));
}
