---
import type { Document } from "@lib/types";

interface Props {
  rows: Document[];
}

const { rows } = Astro.props;
---

{
  rows.map((row) => (
    <tr>
      <td>{row.title}</td>
      <td>{row.date}</td>
      <td class="underlined-element">
        <a href={row.file}>{row.buttonText}</a>
      </td>
    </tr>
  ))
}
