---
import LabeledIcon from "@components/LabeledIcon.astro";
import type { Feature } from "@lib/types";

const { featuresList, class: classList } = Astro.props;
---

<ul class:list={[classList]}>
  {
    featuresList.map((feature: Feature) => (
      <li>
        {typeof feature === "string" ? (
          <LabeledIcon iconName="akar-icons:check" text={feature} class="feature"/>
        ) : (
          <span class="h4">{feature.title}</span>
          <p>{feature.description}</p>
        )}
      </li>
    ))
  }
</ul>

<style>
  ul {
    display: flex;
    flex-wrap: wrap;
    align-items: start;
    gap: var(--spacer);

    li {
      flex-basis: calc(50% - 0.5 * var(--spacer));
    }
  }

  @media (min-width: 48rem) {
    ul {
      flex-wrap: nowrap;

      li {
        flex-basis: 100%;
      }
    }

    .wrap {
      flex-wrap: wrap;
    }
  }
</style>
