---
import type { Feature } from "@lib/types";

const { featuresList } = Astro.props;
---

<ul>
  {
    featuresList.map((feature: Feature) =>
      typeof feature === "string" ? (
        <li>//TODO ICON {feature}</li>
      ) : (
        <li>
          <span>{feature.title}</span>
          <p>{feature.description}</p>
        </li>
      )
    )
  }
</ul>
