---
import { Icon } from "astro-icon/components";
import type { Feature } from "@lib/types";

const { featuresList } = Astro.props;
---

<ul>
  {
    featuresList.map((feature: Feature) =>
      typeof feature === "string" ? (
        <li>
          <div>
            <Icon name="akar-icons:check" />
            <p>{feature}</p>
          </div>
        </li>
      ) : (
        <li>
          <span>{feature.title}</span>
          <p>{feature.description}</p>
        </li>
      )
    )
  }
</ul>
