---
import { Image } from "astro:assets";
import { getDynamicImageData } from "@lib/imageImport";
import { defaultLocale } from "@i18n/ui";
import type { Entry } from "@lib/types";

interface Props {
  image: Entry;
  isCaption?: boolean;
}

const { image, isCaption = false } = Astro.props;
const locale = Astro.currentLocale || defaultLocale;

const imageData = await getDynamicImageData(image, locale);
---

<figure class="full-width-stretch">
  <div class="img-wrapper">
    <Image
      src={imageData.import()}
      alt={imageData.alt}
      decoding="async"
      loading="lazy"
      layout="constrained"
    />
  </div>
  {isCaption && <figcaption class="light-font">{imageData.alt}</figcaption>}
</figure>

<style>
  .img-wrapper {
    aspect-ratio: var(--image-banner-ratio);
  }
</style>
