---
import { Image } from "astro:assets";
import { getDynamicImageData } from "@lib/imageImport";
import { defaultLocale } from "@i18n/ui";
import type { Entry } from "@lib/types";

const { imagesList } = Astro.props;
const locale = Astro.currentLocale || defaultLocale;

const imagesData = await Promise.all(
  imagesList.map(
    async (image: Entry) => await getDynamicImageData(image, locale)
  )
);
---

<ul class="full-width-stretch horizontal-scroll">
  {
    imagesData.map((image) => (
      <li>
        <div class="img-wrapper">
          <Image src={image.import()} alt={image.alt} />
        </div>
      </li>
    ))
  }
</ul>

<style>
  ul {
    gap: var(--spacer-responsive);
  }

  .img-wrapper {
    aspect-ratio: 1.6/1;
  }
</style>
