---
import { Image } from "astro:assets";
import { getDynamicImageData } from "@lib/imageImport";
import { defaultLocale } from "@i18n/ui";
import type { Entry } from "@lib/types";
import HorizontalScroll from "./HorizontalScroll.astro";

const { imagesList } = Astro.props;
const locale = Astro.currentLocale || defaultLocale;

const imagesData = await Promise.all(
  imagesList.map(
    async (image: Entry) => await getDynamicImageData(image, locale)
  )
);
---

<HorizontalScroll class="full-width-stretch" snapCenter responsiveGap>
  {
    imagesData.map((image) => (
      <li class="gallery-img">
        <div class="img-wrapper">
          <Image
            src={image.import()}
            alt={image.alt}
            title={image.caption}
            class="modal-thumbnail"
            decoding="async"
            loading="lazy"
            layout="constrained"
          />
        </div>
      </li>
    ))
  }
</HorizontalScroll>

<style>
  .img-wrapper {
    aspect-ratio: 1.6/1;
    width: clamp(15rem, 50vw, 45rem);
  }
</style>
