---
import { Icon } from "astro-icon/components";
import { getCurrentUrl, getLocalizedUrlList } from "@i18n/urls";
import { defaultLocale, languages, locales } from "@i18n/ui";

const locale = Astro.currentLocale || defaultLocale;
const currentPath = getCurrentUrl(Astro.params);
const relativeLocalePaths = getLocalizedUrlList(locale, currentPath);
---

<div>
  <Icon name="akar-icons:globe" />
  <p>{locale}</p>
  <ul>
    {
      locales.map((locale) => (
        <li>
          <a href={relativeLocalePaths[locale]} title={languages[locale]}>
            {locale}
          </a>
        </li>
      ))
    }
  </ul>
</div>
