---
import type { Milestone } from "@lib/types";

interface Props {
  milestone: Milestone;
}

const { milestone } = Astro.props;
---

<div class="milestone">
  <h3>{milestone.year} - {milestone.title}</h3>
  <p>{milestone.description}</p>
</div>

<style>
  .milestone * {
    margin-top: var(--spacer);
  }
</style>