---
import { getLocalizedLinks } from "@lib/data";
import { defaultLocale } from "@i18n/ui";
import { getLocaleUrl } from "@i18n/urls";

const { isNavbar, class: className } = Astro.props;
const locale = Astro.currentLocale || defaultLocale;

const links = isNavbar
  ? await getLocalizedLinks("navbar", locale)
  : await getLocalizedLinks("footer", locale);
---

<ul class:list={[className]}>
  {
    links.map(({ url, text }) => (
      <li class="navlink">
        <a href={getLocaleUrl(locale, url)}>{text}</a>
      </li>
    ))
  }
</ul>

<style>
  ul {
    display: flex;
    align-items: center;
    gap: var(--spacer-responsive);
  }

  .vertical {
    flex-direction: column;
    align-items: start;
    gap: var(--spacer);
  }

  .mobile {
    flex-direction: column;
    align-items: start;
    gap: 2rem;

    padding-block: var(--spacer);
    max-height: calc(100vh - var(--navbar-height) - var(--spacer));
    overflow-y: auto;

    a {
      font-size: var(--fs-xl);
    }
  }
</style>
