---
const { title, eyebrow, description } = Astro.props;
---

<article>
  <header>
    {eyebrow && <p class="eyebrow">{eyebrow}</p>}
    <h1>{title}</h1>
  </header>

  {description && <p>{description}</p>}

  <div class="content flow-content">
    <slot />
  </div>
</article>

<style>
  article {
    display: grid;
    grid-template-columns: minmax(0rem, 1fr);
    row-gap: var(--spacer-responsive);
  }

  .content {
    grid-column: 1 / -1;
    --flow-spacer: var(--spacer-responsive);

    figure:first-child {
      margin-top: var(--spacer-responsive);
    }
  }

  @media (min-width: 60rem) {
    article {
      grid-template-columns: 1fr 1fr;
      column-gap: var(--spacer);
      align-items: end;

      &:not(:has(> p)) header {
        grid-column: 1 / -1;
      }
    }
  }
</style>
