---
const { title, eyebrow, description } = Astro.props;
---

<article>
  <div>
    <div>
      <h1>{title}</h1>
      {eyebrow && <p>{eyebrow}</p>}
    </div>
    {
      description && (
        <div>
          <p>{description}</p>
        </div>
      )
    }
  </div>
  <div>
    <slot />
  </div>
</article>
