---
import DocumentsTable from "@components/DocumentsTable.astro";
import ElementDetails from "@components/ElementDetails.astro";
import ContactList from "@components/ContactList.astro";
import Milestone from "@components/Milestone.astro";

const { content, mode, isActive } = Astro.props;
---

<div class:list={["tab-content", { active: isActive }]}>
  {
    mode === "documents" ? (
      <DocumentsTable documents={content} />
    ) : mode === "fittings" ? (
      <ElementDetails element={content} />
    ) : mode === "distributors" ? (
      <ContactList dataList={content} />
    ) : mode === "milestones" ? (
      <Milestone milestone={content} />
    ) : null
  }
</div>

<style>
  .tab-content {
    display: none;

    &.active {
      width: 100%;
      display: block;
    }
  }
</style>
