---
const { headingsList } = Astro.props;
---

<table>
  <thead>
    <tr>
      {headingsList.map((heading: string) => <th>{heading}</th>)}
    </tr>
  </thead>
  <tbody>
    <slot />
  </tbody>
</table>
