---
import Head from "@layouts/Head.astro";
import Navbar from "@layouts/Navbar.astro";
import Footer from "@layouts/Footer.astro";
import ImageModal from "@components/ImageModal.astro";

const { seo } = Astro.props;
---

<html lang={Astro.currentLocale}>
  <Head seo={seo} />
  <body>
    <Navbar />
    <main class="content-grid">
      <slot />
      <ImageModal />
    </main>
    <Footer />
    <script>
      if (typeof window !== "undefined" && window.netlifyIdentity) {
        window.netlifyIdentity.on("init", (user) => {
          if (!user) {
            window.netlifyIdentity.on("login", () => {
              document.location.href = "/admin/";
            });
          }
        });
      }
    </script>
  </body>
</html>
