---
import { Icon } from "astro-icon/components";
import { getLocalizedDataByEntry, getLocalizedLinks } from "@lib/data";
import { defaultLocale } from "@i18n/ui";
import { getLocaleUrl } from "@i18n/urls";
import type { Link, PageLink } from "@lib/types";

import LanguagePicker from "@components/LanguagePicker.astro";

const locale = Astro.currentLocale || defaultLocale;
const links = await getLocalizedLinks("navbar", locale);

const homepageData = (await getLocalizedDataByEntry(
  { collection: "pages", id: "strona-glowna" },
  locale
)) as PageLink;
---

<div>
  <a href={getLocaleUrl(locale, homepageData.seo.slug)}>
    <Icon name="logo-extended" />
  </a>
  <ul>
    {
      links.map((link: Link) => (
        <li>
          <a href={getLocaleUrl(locale, link.url)}>{link.text}</a>
        </li>
      ))
    }
  </ul>
  <div>
    <LanguagePicker />
  </div>
</div>

<style>
  [data-icon="logo-extended"] {
    font-size: var(--nav-height);
    color: var(--blue);
  }
</style>
