---
import { getRelativeLocaleUrl } from "astro:i18n";
import { getLocalizedLinks } from "@lib/data";
import { defaultLocale } from "@i18n/ui";
import type { Link } from "@lib/types";

import LanguagePicker from "@components/LanguagePicker.astro";

const lang = Astro.currentLocale || defaultLocale;
const links = await getLocalizedLinks("navbar", lang);
---

<div>
  <div>//TODO LOGO</div>
  <ul>
    {
      links.map((link: Link) => (
        <li>
          <a href={getRelativeLocaleUrl(lang, link.url)}>{link.text}</a>
        </li>
      ))
    }
  </ul>
  <div>
    <LanguagePicker />
  </div>
</div>
