---
import { Icon } from "astro-icon/components";
import { getLocalizedDataByEntry, getLocalizedLinks } from "@lib/data";
import { defaultLocale } from "@i18n/ui";
import { getLocaleUrl, getLocalizedUrlList } from "@i18n/urls";
import type { PageLink } from "@lib/types";

import LanguagePicker from "@components/LanguagePicker.astro";

const locale = Astro.currentLocale || defaultLocale;
const links = await getLocalizedLinks("navbar", locale);

const homepageData = (await getLocalizedDataByEntry(
  { collection: "pages", id: "strona-glowna" },
  locale
)) as PageLink;

const homePaths = Object.values(getLocalizedUrlList(defaultLocale, "/"));
const isHomePage = homePaths.includes(Astro.url.pathname);
---

<div class=`nav-wrapper content-grid ${isHomePage && "homepage"}`>
  <nav>
    <a class="logo" href={getLocaleUrl(locale, homepageData.seo.slug)}>
      <Icon name="logo" />
      <Icon name="logo-text" />
    </a>

    <ul>
      {
        links.map(({ url, text }) => (
          <li>
            <a href={getLocaleUrl(locale, url)} class="navlink">
              {text}
            </a>
          </li>
        ))
      }
      <li>
        <LanguagePicker />
      </li>
    </ul>
  </nav>
</div>

<style>
  .nav-wrapper {
    position: fixed;
    z-index: 999;
    inset-inline: 0;
    height: var(--section-padding);
    padding-block: var(--spacer);

    background-color: var(--clr-background);
    border-bottom: 1px solid var(--light-grey);

    transition: height 0.7s ease-out;

    &.homepage {
      height: calc(2 * var(--section-padding));
    }
  }

  nav {
    align-self: end;

    display: flex;
    justify-content: space-between;

    ul {
      display: flex;
      align-items: center;
      gap: var(--spacer-responsive);
    }
  }

  .logo {
    display: flex;
    font-size: calc(var(--section-padding) - 2.5 * var(--spacer));
    gap: var(--spacer);

    [data-icon="logo-text"] {
      margin-top: 0.3rem;
    }

    [data-icon="logo"] {
      color: var(--blue);
    }
  }
</style>

<script>
  const homeNav = document.querySelector(".homepage");

  homeNav &&
    window.addEventListener("scroll", () => {
      homeNav.classList.toggle("homepage", window.scrollY < 15);
    });
</script>
